@tailwind base;
@tailwind components;
@tailwind utilities;

.text-d-code {
    background: var(--Linear, linear-gradient(90deg, #cbd267 0%, #55bcc4 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
